# IntelliJ files
/artifacts/
/modules/
/modules.xml
/compiler.xml
/git_toolbox_prj.xml
/gradle.xml
/jarRepositories.xml
/misc.xml
/vcs.xml
/workspace.xml
/dataSources/
/dataSources*
/caches/
/*.iml
/kotlinScripting.xml
/uiDesigner.xml
/sqldialects.xml
/libraries-with-intellij-classes.xml
